.row {
   
    /* display: flex;
    justify-content: space-evenly;
 */
 /* width: 850px;
 height: 800px; */
}


.cell {
   
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}